<!DOCTYPE html>
<html lang="en" ng-app="spaApp">

<head>
    <meta charset="utf-8" />
    <title>Patricia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./style/app.css">
</head>

<body ng-controller="produtoController as vm" ng-init = "vm.init()">
    <div class="container">
        <div class="row justify-content-center">
            <form class="form-group">
                <h1>Cadastro de produtos</h1>
                <label for="inputProduto">Nome:</label>
                <input type="text" name="inputProduto" id="inputProduto" placeholder="Digite o Produto" class="form-control"
                    ng-model="vm.produto.nome" required>

                <label for="inputPreco">Preço:</label>
                <input type="number" name="inputPreco" id="inputPreco" placeholder="Digite o preço" class="form-control"
                    ng-model="vm.produto.preco" required>
                <div style="margin-top: 10px;">
                    <button class="btn btn-primary" type="submit" ng-click="vm.adicionarProduto();"> Adicionar </button>
                    <button class="btn btn-secondary" type="reset" ng-click="vm.limparCampos();"> Limpar </button>
                </div>

            </form>
        </div>
        <div ng-if="vm.produtos.length == 0" class="row justify-content-center">
            <span style="color: gray">Nenhum registro cadastrado.</span>
        </div>
        <div ng-if="vm.produtos.length > 0" class="row justify-content-center">
            <table class="table-bordered table-striped">
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody>
                    <tr ng-repeat="item in vm.produtos track by $index">
                        <td>{{item.nome}}</td>
                        <td>{{item.preco}}</td>
                        <td>
                            <!-- <button class="btn btn-danger"  ng-click="vm.deletarItem($index);">Deletar</button> -->
                            <i aria-hidden="true"class="fas fa-trash-alt cursor" ng-click="vm.deletarItem(item, $index);" title="Deletar"> </i>
                        </td>
                        <td>
                            
                            <!-- <button class="btn btn-success"  ng-click="vm.carregarItem($index);">Atualizar</button> -->
                        <i aria-hidden="true"class="fas fa-edit cursor" ng-click="vm.carregarItem(item, $index);" title="Atualizar"> </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./app/app.js"></script>
        <script src="./app/controller.js"></script>
</body>

</html>